# for all code you usually don't want .git history in image, just the current commit you have checked out
.git
.github

node_modules/
dist/
coverage/
.cache/
.dockerignore
.env.example

# you usually don't want dockerfile and compose files in the image either
*Dockerfile*
*docker-compose*
.dockerignore

node_modules/
vendor
.hg
.svn
!build

#.env
.idea

.editorconfig
.gcloudignore
README.md
.env.example
.gitignore
credential.json
Jenkinsfile
build.yaml
Makefile
build.sh
update.sh

k8s/